
#cabecalho{


    display: flex;
    background-color: rgb(74, 80, 81);
    padding: 20px 50px;
    color: rgb(48, 20, 0);
    float: left;
}

#fonte1{

    display: flex;
    font-family: 'Pacifico',cursive;
    font-size: 60px;
    line-height: 26PX;    

}