body{

     display: list-item;
     font-family: roboto,sans-serif; 
     padding: 0;
     margin: 0;
     background-color: #a7a7a7;
}

#idea{

     display: flex;
     background-color: rgb(0, 0, 0);
     padding: 20PX 50PX;
     color: rgb(191, 161, 240);
     height: 200PX;
     width: 100%;
     margin-bottom: 50PX;
}

#ph1{

     text-align: left;
     display: flex;
     line-height: 20px;
     margin: 60PX 265PX;
     font-size: 70px;

}


#spanado{
     font-size: 20px;
}

#mainspaning{

     width: 960px;
     margin: auto;

}

#tc{
    
    background: #000;
    color: #fff;
    text-align: left;
    padding: 5px 10px;

}

table th, table td{

     border: 1px solid #ccc;
     padding: 4px 10px;
     color: rgb(91, 0, 157);

}

.meses{

     background: rgb(0, 0, 0);
     color: rgb(217, 195, 252);

}

.somata{

     background: rgb(0, 176, 81);

}

#brinks{

    background-color: #232323;
    color: #882da3;

}